body{
    font-family: Georgia, serif;
}
.navig3{
    display: inline;
    position:absolute;
    top: 300px;
    left: 535px;
    font-weight:bold;
    color:  #d1d7e0;

    font-size: large
}
.igri4{
    display: inline;
    position: absolute;
    top: 300px;
    left: 250px;
    font-weight:bold;
    color: #d1d7e0;
    font-size: large

}
.asd4{
    width: 250px;
    height: 1390px;
    background: #4c495d;
    border: 1px solid #564F6f;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.asd5{
    width: 250px;
    height: 1390px;
    background-color: #4c495d;
    border: 1px solid #564F6f ;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
#kib{
    display: inline;
    position: absolute;
    top: -290px;
    left: 200px;
    color:  #DDA0DD;;
}
.phone2 {
    background: #2D283E;
}
#kib1{
    color: #DDA0DD;;
  display: inline;
  position: relative;
  left: 50px;
}
#kib2{
    color:  #DDA0DD;
  display: inline;
  position: relative;
  top: 230px;
  left: 50px;
}
#cv2{
    color: #d1d7e0;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 1350px;
    left: 900px;
    border: 1px solid #D3D3D3;
    font-weight:bold;
    font-size: large
}
#vp{
  display: inline;
  position: absolute;
  top: -250px;
  height: 200px;
  left: -230px;
}
#kib3{
  display: inline;
  position: relative;
  top: -200px;
  left: 100px;
}
#sim{
  display: inline;
  position: absolute;
  height: 200px;
  top: 200px;
  left: 100px;
}
#kib4{
  display: inline;
  position: relative;
  top: 240px;
  left: 30px;
}
#ust{
  display: inline;
  position: absolute;
  height: 200px;
  top: 680px;
  left: 100px;
}
