.navig1{
    display: inline;
    border: 2px solid #DDA0DD;
    position: relative;
    padding: 15px;
    margin: 15px;
    top: 450px;
    left: 280px;
    font-weight:bold;
    color: #d1d7e0;
    text-decoration: none;
    border-radius: 30px;

}
footer{
    display: inline;
    border: 1px solid #d1d7e0;
    position: absolute;
    bottom: 0;
    left: 900px;
    color: #d1d7e0;
}
.phone{
    background: #2D283E;
}
.ist{
    color: #d1d7e0;
    text-decoration: none;
}
.asd{
    width: 250px;
    height: 970px;
    background: #4c495d;
    border: 1px solid #564F6f ;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.asd1{
    width: 250px;
    height: 970px;
    background-color: #4c495d;
    border: 1px solid #564F6f ;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
body{
    font-family: Georgia, serif;
}
#cyber{
    color: white;
    font-weight: bolder;
    display: inline;
    position: absolute;
    left: 300px;

}
