.navig3 {
    display: inline;
    position: absolute;
    bottom: -150px;
    left: 370px;
    text-decoration: none;
    font-weight:bold;
    color: #d1d7e0;
    border: 1px solid #d1d7e0;
}
body{
    font-family: Georgia, serif;
}
.phone1{
    background: #2D283E;
}
.asd2{
    width: 250px;
    height: 1250px;
    background: #4c495d;
    border: 1px solid #564F6f;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.asd3{
    width: 250px;
    height: 1250px;
    background-color: #4c495d;
    border: 1px solid  #564F6f ;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.igri3 {
    display: inline;
    position: absolute;
    left: 500px;
    color: #8A2BE2;
}
#cv8{
    position: relative;
    left: 200px;
}
.ist{
    color: #d1d7e0;
    text-decoration: none;
}
.foto{
    height: 200px;
}
#fot{
    height: 200px;
}
#fit{
    height: 200px;
}
.ss{
    color: #d1d7e0;
}