.navig3 {
    display: inline;
    position: absolute;
    bottom: -450px;
    left: 370px;
    text-decoration: none;
    font-weight:bold;
    color: #d1d7e0;
    border: 1px solid #d1d7e0;
}
body{
    font-family: Georgia, serif;
}
.phone1{
    background: #2D283E;
}
.asd2{
    width: 250px;
    height: 1820px;
    background: #4c495d;
    border: 1px solid #564F6f;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.asd3{
    width: 250px;
    height: 1820px;
    background-color: #4c495d;
    border: 1px solid  #564F6f ;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.igri3 {
    top: 1000px;
    display: inline;
    position: absolute;
    left: 500px;
    color: #DDA0DD;
    font-size:large;
}
#cv8{
    position: relative;
    left: 250px;
    top: -100px;
}
.ist{
    display: inline;
    position: absolute;
    top: 1000px;
    color: #d1d7e0;
    text-decoration: none;
    font-weight:bold;
    font-size: large
}
.foto{
    height: 200px;
}
#fot{
    height: 200px;
}
#fit{
    height: 200px;
}
.ss{
    color: #d1d7e0;
}
.nebula{
    display: inline;
    position: absolute;
    top: -700px;
    height: 200px;
    left: -100px;
    border: 1px solid #d1d7e0;
}
.nebula2{
    display: inline;
    position: absolute;
    top: -1000px;
    height: 200px;
    left: -200px;
    border: 1px solid #d1d7e0;
}
#neb {
    display: inline;
    position: absolute;
    top: -970px;
    left: 10px;
    font-size: xx-large;
    color: #7366BD;
}
#com{
    display: inline;
    position: absolute;
    top: -770px;
    left: 350px;
    font-size:x-large;
}
#dol{
    display: inline;
    position: absolute;
    top: -500px;
    left: -100px;
    color: #d1d7e0;
    font-size:large
}
#nat{
    display: inline;
    position: absolute;
    top: -700px;
    left: 200px;
    height: 200px;
    border: 1px solid #d1d7e0;
}
#mac{
    display: inline;
    position: absolute;
    top: -500px;
    left: 200px;
    color: #d1d7e0;
    font-size:large
}
#vad{
    display: inline;
    position: absolute;
    top: -700px;
    height: 200px;
    left: 500px;
    width: 150px;
    border: 1px solid #d1d7e0;
}
#mol{
    display: inline;
    position: absolute;
    top: -500px;
    left: 500px;
    color: #d1d7e0;
    font-size:large
}
#nic{
    display: inline;
    position: absolute;
    top: -700px;
    height: 200px;
    left: 800px;
    width: 130px;
    border: 1px solid #d1d7e0;
}
#dan{
    display: inline;
    position: relative;
    top: -482px;
    left: 800px;
    color: #d1d7e0;
    font-size:large
}
#asd{
    display: inline;
    position: absolute;
    top: -400px;
    left: -200px;
}
#cit{
    display: inline;
    position: absolute;
    top: -270px;
    left: -200px;
}
#val{
    font-size:large;
    display: inline;
    position: absolute;
    top: 100px;
    left: -100px;

}
#val1{
    display: inline;
    position: absolute;
    height: 200px;
    left: -100px;
    top: 150px;
    border: 1px solid #d1d7e0;
}
#con{
    display: inline;
    position: absolute;
    height: 200px;
    top: 150px;
    left: 300px;
    border: 1px solid #d1d7e0;
}
#con1{
    display: inline;
    position: relative;
    font-size:large;
    top: 0;
    left: 300px;
}
#dot{
    display: inline;
    position: absolute;
    font-size:large;
    top: 100px;
    left: 700px;

}
#dot2{
    display: inline;
    position: absolute;
    height: 200px;
    left: 700px;
    top: 150px;
    border: 1px solid #d1d7e0;
}
#god{
    display: inline;
    position: relative;
    top: 250px;
    left: -200px;
}
#vk{
    display: inline;
    position: absolute;
    top: 650px;
    left: -200px;
}
#vk1{
    display: inline;
    position: absolute;
    top: 20px;

}
